 * {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

       /* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
#container{
  background-color: white;
  color: black;
}

      #locationField, #controls {
        position: relative;
        width: 75%;
      }
      #autocomplete {
        position: relative;.
        float: left;
        display: inline;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
    
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      #map {
        height: 50%;
        width: 100%;
      }
         #map{
        height: 600px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        /*height: 100%;*/
        margin: auto;
        padding: 0;
      }
      #address {
       /* display: none;*/
       color: lightgrey;
        transition: color 2s, ease-in;
        --webkit-transition: 1s 2s color linear;
        /*visibility: hidden;
  opacity: 0;*/

      }
        .inline{
          display: inline-flex;
        }   


.center {
    margin: auto;
   
   
}
  
#address {
   background-color: white;

}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes initialTable {
    from {
      background-color: black;
      color: lightgrey;
    }
    to {
      background-color:  #f0f0ff;
      color: black;
    }
}

/* Standard syntax */
@keyframes initialTable {
    from {
      background-color: black;
    color: lightgrey;
  }
    to {
      background-color:  #f0f0ff;
      color: black;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes restoreTable {
   
    to {
      background-color:  #f0f0ff;
      color: black;
    }
}

/* Standard syntax */
@keyframes restoreTable {
    
    to {
      background-color:  #f0f0ff;
      color: black;
    }
}
@-webkit-keyframes nightmodeTable {
   /* from {
      background-color: #f0f0ff;
      color: black;
    }*/
    to {
      background-color: darkgrey;
      color: #dd2527;
    }
}

/* Standard syntax */
@keyframes nightmodeTable {
    /*from {
      background-color: #f0f0ff;
      color: black;
    }*/
    to {
      background-color: darkgrey;
      color: #dd2527;
    }
}
@-webkit-keyframes nightmodebody {
    /*from {
      background-color: white;
      color: black;
    }*/
    to {
      background-color: black;
      color: white;
    }
}

/* Standard syntax */
@keyframes nightmodebody {
    /*from {
      background-color: white;
      color: black;
    }*/
    to {
      background-color: black;
      color: white;
    }
}
@-webkit-keyframes restorebody {
   /*from{
    background-color: black;
      color: white;
   }*/
    to {
      background-color:  white;
      color: black;
    }
}

/* Standard syntax */
@keyframes restorebody {
    /*from {
      background-color: black;
      color: white;
    }*/
    to {
      background-color:  white;
      color: black;
    }
}
.map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
      }
      /* Display the control once it is inside the map. */
      #map .map-control { display: block; }

      .selector-control {
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
      }

      .fullwidth{
        width: 100%;
    
      }
   
      #windymap{
        height: 600px;
      }

#addressdiv, #address {
    width: 1px;
    height: 1px;
box-sizing: initial;
    background: lightgrey;
    color: black;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
   display: none;
}

.slider {
  position: relative;
  width: 50%;
  height: 250px;
  
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.slider:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
